
@{
    ViewBag.Title = "ConfirmationSent";
}

<section class="content-wrap ecommerce-products">

    <div class="card">

        <div class="title">
            <h5>ConfirmationSent</h5>
        </div>

        <div class="content">
            <p>Thank you for confirming your email.</p>
        </div>

    </div>

</section>




