@model BugTracker_V2.Models.UserRoles
@{
    ViewBag.Title = "Users";
}


<section class="content-wrap ecommerce-products">

    <div class="card">

        <div class="title">
            <!-- Title -->
            <h3>Role List</h3>
        </div><!-- /title -->

        <div class="content">
            
            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model.RoleList)
                    {

                        <tr>
                            <td>@role.Name</td>
                            <td>
                                <a href="@Url.Action("EditRole", "Admin", new { RoleName = role.Name })" class="btn btn-primary">Add/Remove Users</a>
                            </td>
                        </tr>
                    }
                </tbody>
                
            </table><!-- /table -->    

        </div><!-- /content -->

    </div><!-- /card -->


</section>

