@model BugTracker_V2.Models.DashBoardViewModel
@{
    ViewBag.Title = "Index";
}


<!-- ==============================================
     DASHBOARD - INDEX
=============================================== -->
<!-- Main Content -->
<section class="content-wrap ecommerce-products">

    @if (User.IsInRole("Admin"))
    {
        Html.RenderPartial("_Admin");
        @section scripts {
    <script>
        $('#projectsTable').DataTable({
            responsive: {
                details: {
                    type: 'column'
                }
            },
            "dom": '<"top"fl><"clearfix">rt<"bottom"ip>',
            "autoWidth": false,

            "columnDefs": [
                { "orderable": false, "width": "240px", "targets": 2 },
            ]

        });

        $('#ticketTable').DataTable({
            responsive: {
                details: {
                    type: 'column'
                }
            },
            "dom": '<"top"fl><"clearfix">rt<"bottom"ip>',
            "autoWidth": false,

            "columnDefs": [
                { "orderable": false, "width": "160px", "targets": 6 }
            ]

        });

        $('#userTable').DataTable({
            responsive: {
                details: {
                    type: 'column'
                }
            },
            "dom": '<"top"fl><"clearfix">rt<"bottom"ip>',
            "autoWidth": false,

            

        });
    </script>

        }

    }
    else if (User.IsInRole("ProjectManager"))
    {
        Html.RenderPartial("_PM");
        @section scripts {
            <script>
                $('#projectsTable').DataTable({
                    responsive: {
                        details: {
                            type: 'column'
                        }
                    },
                    "dom": '<"top"fl><"clearfix">rt<"bottom"ip>',
                    "autoWidth": false,

                    "columnDefs": [
                        { "orderable": false, "width": "230px", "targets": 4 },
                    ]

                });

                $('#ticketTable').DataTable({
                    responsive: {
                        details: {
                            type: 'column'
                        }
                    },
                    "dom": '<"top"fl><"clearfix">rt<"bottom"ip>',
                    "autoWidth": false,

                    "columnDefs": [
                        { "orderable": false, "width": "160px", "targets": 6 }
                    ]

                });

            </script>
        }

    }
    else if (User.IsInRole("Developer"))
    {
        Html.RenderPartial("_Dev");
        @section scripts {
            <script>
                $('#projectsTable').DataTable({
                    responsive: {
                        details: {
                            type: 'column'
                        }
                    },
                    "dom": '<"top"fl><"clearfix">rt<"bottom"ip>',
                    "autoWidth": false,

                    "columnDefs": [
                        { "orderable": false, "width": "240px", "targets": 2 },
                    ]

                });

                $('#ticketTable').DataTable({
                    responsive: {
                        details: {
                            type: 'column'
                        }
                    },
                    "dom": '<"top"fl><"clearfix">rt<"bottom"ip>',
                    "autoWidth": false,

                    "columnDefs": [
                        { "orderable": false, "width": "160px", "targets": 6 }
                    ]

                });


            </script>
        }
    }
    else if (User.IsInRole("Submitter"))
    {
        Html.RenderPartial("_Sub");
        @section scripts {
            <script>
                $('#projectsTable').DataTable({
                    responsive: {
                        details: {
                            type: 'column'
                        }
                    },
                    "dom": '<"top"fl><"clearfix">rt<"bottom"ip>',
                    "autoWidth": false,

                    "columnDefs": [
                        { "orderable": false, "width": "240px", "targets": 2 },
                    ]

                });

                $('#ticketTable').DataTable({
                    responsive: {
                        details: {
                            type: 'column'
                        }
                    },
                    "dom": '<"top"fl><"clearfix">rt<"bottom"ip>',
                    "autoWidth": false,

                    "columnDefs": [
                        { "orderable": false, "width": "160px", "targets": 6 }
                    ]

                });

                $('#userTable').DataTable({
                    responsive: {
                        details: {
                            type: 'column'
                        }
                    },
                    "dom": '<"top"fl><"clearfix">rt<"bottom"ip>',
                    "autoWidth": false,

                    "columnDefs": [
                        { "orderable": false, "width": "160px", "targets": 6 }
                    ]

                });
            </script>
        }
    }


</section>
<!-- /Main Content -->
