@model BugTracker_V2.Models.DashBoardViewModel
@{
    ViewBag.Title = "Index";
}


<!-- ==============================================
     DASHBOARD - INDEX
=============================================== -->
<!-- Main Content -->
<section class="content-wrap ecommerce-products">

    @if (User.IsInRole("Admin"))
    {
        Html.RenderPartial("_Admin");
    }
    else if (User.IsInRole("ProjectManager"))
    {
        Html.RenderPartial("_PM");
    }
    else if (User.IsInRole("Developer"))
    {
        Html.RenderPartial("_Dev");
    }
    else if (User.IsInRole("Submitter"))
    {
        Html.RenderPartial("_Sub");
    }
    else
    {
        Html.RenderPartial("_NoRole");
    }

</section>
<!-- /Main Content -->
@section scripts {
    <script>
        $('table').DataTable({

            "iDisplayLength": 5,
            "aLengthMenu": [
              [5, 10, 25, 50, -1],
              [5, 10, 25, 50, "all"]
            ]

        });
</script>

}